@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

    <div class="container">

        <div class="container">
            <div class="row-fluid">

                <div class="main_top">
                    <h2>WELCOME TO ITHS LET'S EAT FASTFOOD</h2>
                </div>
                <div class="main_top_strip">
                    <img src="~/Image/logo.JPG" alt="" />
                </div>
                <div class="clear"></div>

            </div>
        </div>

        <div class="container">
            <div class="row-fluid  main_top">

                <div class="col-sm-4">

                <div class="col-sm-6  content_top_data">
                    <div class="box_top">
                        <h2>PIZZA</h2>

                    </div>
                    <div class="content_top_img">

                        <img src="~/Image/pizza.jpg" alt="" />
                    </div>
                </div>
                    <h3>Our Speciality</h3>
                    <h2 style="font-family:'Javanese Text';">
                        We use only high quality and organic raw materials, which is imported  from Italy.
                        our pizza and salad  have mozzarella cheese and we use only fresh vegetables.
                        Our tomato sauce is also well known for its unique test.
                    </h2>
                </div>
                <div class="col-sm-4">
                    <div class="box_top">
                        <h2>SALAD</h2>

                    </div>
                    <div class="content_top_img">
                        <img src="~/Image/salad.jpg" />
                    </div>

                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>

        <div class="container">
            <div class="row-fluid">
                <div class="col-sm-4">
                    <div class="box1">
                        <div class="box_top">
                            <h2>FRIED CHICKEN</h2>

                        </div>
                        <div class="box1_data">

                            <h4 style="font-family:'Times New Roman', Times, serif;">
                                On Super Bowl Sunday — or any day of the week, really —
                                there’s a spicy wing out there for everyone. Here are
                                the absolute best chicken wings in Stockholm.
                            </h4>
                            <p><span>read more</span></p>
                        </div>
                        <div class="box1_img">
                            <img src="~/Image/fried chicken.jpg" />
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box2">
                        <div class="box_top">
                            <h2>INDOOR SERVICES</h2>

                            <div class="clear"></div>
                        </div>
                        <div class="box2_data">
                            <h3> We don't have indoor service due to Corona!</h3>
                        </div>
                        <div class="box1_img">
                            <img src="~/Image/logo.JPG" alt="" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box3">
                        <div class="box_top">

                            <h2>ONLINE ORDER</h2>
                         
                            <div class="clear"></div>
                        </div>
                        <div class="box1_data">
                            <a href="@Url.Action("Home", "", new { Id = 1 })" class="links">
                                <img src="@Url.Content("~/Image/man dlivering food.jpg")">Delivery within 40 minutes
                            </a>
                            <h3> </h3>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
