@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>What are cookies?</h3>
<p>
    Cookies are small text files consisting of letters and numbers. These are sent from LetsEatFastFood web servers and stored on your device as below. We use different cookies:
    <br />
    Session cookies are a temporary cookie that expires when you close your browser or device.<br />
    Lasting cookies are cookies that remain on your computer until you remove them or they expire.<br />
    First-party cookies are cookies set by the website you visit.<br />
</p>
<br />
<br />
<h3>Why do we use cookies? </h3>

<p>
    The cookies we use usually improve the services we offer. Some of our services require cookies to work properly, while others improve the services for you. We use cookies for overall analytical information regarding your use of our services and to save functional settings such as languages ​​and other information. We also use cookies to be able to direct relevant marketing to you.
    <br />
    To use LetsEatFastFood you need to allow the following first-party cookies:
</p>
<p>
    Login<br />
    Remember your last login<br />
    Remember login information<br />
    session Cookie<br /><br />


    <h3>How to control LetsEatFastFood's use of cookies</h3>
    Your browser or device usually allows you to change the settings for the use and extent of cookies. Go to your browser or device settings to learn more about how to adjust your cookie settings.
    <br />
    Please note that some of our services may not work if you block or delete cookies.
</p>
<br />

<p>How LetsEatFastFood processes your personal information</p>

<p>LetsEatFastFood's processing of your personal data may differ depending on whether you have entered into a personalization agreement or only approved our general terms and conditions for our e-commerce.</p>

<p>If you are a visitor to our website, without creating an e-commerce user account, we only save cookies and material from any contact with our customer service. </p>
<br />
<br />
<h3>    Where do we collect personal data?</h3>
<p> Personal information that you provide to us </p>
<p>LetsEatFastFood processes personal information provided by you when you create a user account and shop in our e-commerce at LetsEatFastFood. Examples of information we collect from you are name, postal address, email address, delivery address, mobile number, as well as credit and debit card data.</p>
<br />
<p>
    We also process personal information generated when you use our e-commerce, such as purchased items, amounts, dates and payment methods, use of coupons and discounts. We also collect information when you are logged into your user account, such as your IP address, browser settings and visitor history.
</p>
<br />
<br />
<h3>How LetsEatFastFood protects your personal information</h3>
<p>
    We take the legal, technical and organizational security measures required to ensure that your personal information is not tampered with,
    lost or destroyed, or unauthorized access to it. Our security routines are updated as the technology develops and improves.
</p>
